<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  
  <assembly name="ValantTest.Application.Services" />
  <assembly name="ValantTest.Domain.Core" />
  <assembly name="ValantTest.Data.Repository" />
  <assembly name="ValantTest.Data.Gateway" />

  <namespace name="ValantTest.Application.Services" />
  <namespace name="ValantTest.Application.Services.InventoryService"/>
  <namespace name="ValantTest.Application.Services.NotificationService"/>
  <namespace name="ValantTest.Application.Services.EventsDispatcher"/>
  <namespace name="ValantTest.Domain.Core" />
  <namespace name="ValantTest.Domain.Core.TypedRepositories" />
  <namespace name="ValantTest.Domain.Core.RepositoryInterfaces" />
  <namespace name="ValantTest.Data.Repository" />
  <namespace name="ValantTest.Data.Repository.ImplementedRepositories" />
  <namespace name="ValantTest.Domain.Core.GatewayInterfaces" />
  <namespace name="ValantTest.Domain.Core.TypedGateways" />
  <namespace name="ValantTest.Data.Gateway" />

  <container>
    
    <register type="IItemRepository" mapTo="ItemRepository"/>
    <register type="INotificationRepository" mapTo="NotificationRepository"/>
    <register type="ISignalRGateway" mapTo="SignalRGateway"/>
    
    <register type="IInventoryService" mapTo="InventoryService" >
      <constructor>
        <param name="notificationRepository">
          <dependency type="INotificationRepository" />
        </param>
        <param name="itemRepository">
          <dependency type="IItemRepository" />
        </param>
        <param name="gateway">
          <dependency type="ISignalRGateway" />
        </param>
      </constructor>
    </register>
    
    <register type="INotificationService" mapTo="NotificationService" >
      <constructor>
        <param name="notificationRepository">
          <dependency type="INotificationRepository" />
        </param>
      </constructor>
    </register>

    <register type="IEventsDispatcherService" mapTo="EventsDispatcherService" >
      <constructor>
        <param name="notificationRepository">
          <dependency type="INotificationRepository" />
        </param>
        <param name="itemRepository">
          <dependency type="IItemRepository" />
        </param>
        <param name="gateway">
          <dependency type="ISignalRGateway" />
        </param>
      </constructor>
    </register>

  </container>
</unity>