@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Amândio Ribeiro<br />
    <abbr title="Phone">P:</abbr>
    +351 939352671
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:amandiojribeiro@outlook.pt">Amândio Ribeiro</a><br />
</address>